<?xml version="1.0" encoding="UTF-8"?>
<FUNCTION title="K35A钥匙管理机远程调试" addr="127.0.0.1" port="20001">
    <DATABASELIST>
        <DATABASE id="1" name="KMBSDB" commit="云南智能钥匙管理机数据库" server="127.0.0.1" port="40001" ></DATABASE>
        <DATABASE id="2" name="KMBSDB" commit="测试用智能钥匙管理机数据库" server="127.0.0.1" port="40001" ></DATABASE>
        <DATABASE id="3" name="KMBSDB" commit="临时用智能钥匙管理机数据库" server="127.0.0.1" port="40001" ></DATABASE>
    </DATABASELIST>
    <PROCTOLLIST>
        <PROCTOL id="1" name="E40 E钥通主站与子站通讯规约" commit="E40 E钥通主站与子站通讯规约" server="127.0.0.1" port="30001" ></PROCTOL>
        <PROCTOL id="2" name="CAN F钥通主站与子站通讯规约" commit="CAN F钥通主站与子站通讯规约" server="127.0.0.1" port="30001" ></PROCTOL>
        <PROCTOL id="3" name="TCP T钥通主站与子站通讯规约" commit="TCP T钥通主站与子站通讯规约" server="127.0.0.1" port="30001" ></PROCTOL>
        <PROCTOL id="4" name="UDP U钥通主站与子站通讯规约" commit="UDP U钥通主站与子站通讯规约" server="127.0.0.1" port="30001" ></PROCTOL>
    </PROCTOLLIST>
    <FONTFILELIST>
        <FONTFILE  id="1" path="gbk_16X16_org.bin" ver="v1.0" commit="GBK字库"></FONTFILE>
        <FONTFILE  id="2" path="gbk_16X16_asc_h.bin" ver="v1.1" commit="GBK字库ASC是半角字符"></FONTFILE>
    </FONTFILELIST>
    <PROGRAMFILELIST>
        <PROGFILE  id="1" path="k35_app_v1.6_for_liaoguang.bin" ver="v1.6" commit="为老管开发的版本"></PROGFILE>
        <PROGFILE  id="2" path="k35_app_v1.4_for_test.bin" ver="v1.4" commit="软件事业部开发的用于云南的版本"></PROGFILE>
    </PROGRAMFILELIST>
</FUNCTION>