<?xml version="1.0" encoding="UTF-8"?>
<FUNCTION title="K35C钥匙管理机远程调试" addr="127.0.0.1" port="20001">
     <DATABASELIST>
        <DATABASE id="1" name="KMBSDB" commit="云南智能钥匙管理机数据库" server="127.0.0.1" port="40001" ></DATABASE>
        <DATABASE id="2" name="KMBSDB" commit="测试用智能钥匙管理机数据库" server="127.0.0.1" port="40001" ></DATABASE>
        <DATABASE id="3" name="KMBSDB" commit="临时用智能钥匙管理机数据库" server="127.0.0.1" port="40001" ></DATABASE>
     </DATABASELIST>
     <PROCTOLLIST>
        <PROCTOL id="1" name="E40 E钥通主站与子站通讯规约" server="127.0.0.1" port="30001" ></PROCTOL>
        <PROCTOL id="2" name="CAN F钥通主站与子站通讯规约" server="127.0.0.1" port="30001" ></PROCTOL>
        <PROCTOL id="3" name="TCP T钥通主站与子站通讯规约" server="127.0.0.1" port="30001" ></PROCTOL>
        <PROCTOL id="4" name="UDP U钥通主站与子站通讯规约" server="127.0.0.1" port="30001" ></PROCTOL>
     </PROCTOLLIST>
</FUNCTION>