<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <link href="static/css/common.css" rel="stylesheet" type="text/css" />
        <script src="static/js/jquery-1.10.2.js" type="text/javascript"></script>
        <title>
            {{ name }}
        </title>
    </head>
    <body>
        <div id="body">
            <div class="background"></div>
            <div class="top">
                <p class="title"> {{ top_name }} </p>
            </div>
            <div class="content">
                {{ run_contentpage }}
            </div>
            <div class="bottom">
                {{ run_botpage }}
            </div>
        </div>
    </body>
</html>
        <script type="text/javascript">
            $(function(){
                var width = window.innerWidth;
                var height = window.innerHeight;
                autoresize(width, height);
                setInterval(function(){
                    return
                },1000);
                {{ scriptstrhead }}
            });
            {{ scriptstrbody }}
            function autoresize(width, height)
            {
                if (width > height) {
                    $("div.top").css({"width": width * 8 / 10, "height": height / 20,
                                        "top": height/10, "left": width / 10});
                    $("div.content").css({"width": width * 8 / 10, "height": height * 6 / 10,
                                        "top": height * 3/ 20, "left": width / 10});
                    $("div.bottom").css({"width": width * 8 / 10, "height": height / 20,
                                        "top": height * 15/ 20, "left": width / 10});
                    $("div #left").css({"float":"left", "width": width * 3 / 20})
                    $("p.title").css({"color":"#ffffff","text-align":"center","width":width*8/10,
                                        "border-radius":height/50,"opacity":"0.7","background":"#27385c",
                                        "margin-left":"0","font-size":height/30});
                    $("p.funcselect").css({"font-size":height/40,"background":"#27385c","text-align":"center",
                                        "color":"#ffffff","border-radius":height/5,"width":width * 3 / 20,
                                        "padding-left":"10px","margin-top":"5px"})
                    $("li.funclist").css({"font-size":height/40,"background":"#27385c","text-align":"left",
                                        "color":"#ffffff","border-radius":height/5,"width":width * 3 / 20,
                                        "padding-left":"10px","margin-top":"5px"})
                    $("li.funclist a").css({"color":"#ffffff"})
                    $("div.bottom p").css({"font-size":height/40,"background":"#27385c","text-align":"center",
                                        "color":"#ffffff","border-radius":height/5,"width":width/4,
                                        "padding-left":"10px","margin-left":width/2})
                    $("div.bottom #submit").css({"border":"0", "font-size":height/40, "background":"#27385c",
                                        "color":"#ffffff"})
                }
                else
                {
                    $("div.top").css({"width": width * 9 / 10, "height": height / 20,
                                        "top": height/10, "left": width / 20});
                    $("div.content").css({"width": width * 9 / 10, "height": height * 6 / 10,
                                        "top": height * 3 / 20, "left": width / 20});
                    $("div.bottom").css({"width": width * 9 / 10, "height": height / 20,
                                        "top": height * 15/ 20, "left": width / 20});
                    $("p.title").css({"color":"#ffffff","text-align":"center","width":width*9/10,
                                        "border-radius":height/50,"opacity":"0.7","background":"#27385c",
                                        "margin-left":"0","font-size":height/30});
                    $("p.funcselect").css({"font-size":height/35,"background":"#27385c","text-align":"center",
                                        "color":"#ffffff","border-radius":height/5,"width":width*9/10,
                                        "height":height/20,"margin-top":"5px","padding-top":height/100,
                                        "padding-left":"10px"});
                    $("li.funclist").css({"font-size":height/35,"background":"#27385c","text-align":"left",
                                        "color":"#ffffff","border-radius":height/5,"width":width*9/10,
                                        "height":height/20,"margin-top":"5px","padding-top":height/100,
                                        "padding-left":"10px"})
                    $("li.funclist a").css({"color":"#ffffff"})
                    $("div.bottom p").css({"font-size":height/35,"background":"#27385c","text-align":"center",
                                        "color":"#ffffff","border-radius":height/5,"width":width/4,
                                        "padding-left":"10px","margin-left":width/2})
                    $("div.bottom #submit").css({"border":"0", "font-size":height/35, "background":"#27385c",
                                        "color":"#ffffff"})
                }
            }
        </script>
